body {
     text-align: center;
     font-family: Arial;
}
 
 #modal {
     display: none;
     position:fixed;
     z-index: 1;
     left: 0;
     top: 0;
     height: 100%;
     width: 100%;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.2);
}
 #content {
     background-color: #a5450a;
     margin: 20% auto;
     padding: 20px;
     width: 70%;
     height: 20%;
     box-shadow: 0 8px 0 rgba( 0, 0, 0, 0.5), 0 7px 16px 0 rgba(0, 0, 0, 0.15);
}
 #btn {
     color: #222;
     font-size: 30px;
}
 #btn:hover, #btn:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;

}
